.Navigation {
  height: 100%;
  padding-right: 30px;
}

.Navigation ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-right: 50px;
}

.Navigation li {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  position: relative;
  
}



.active {
  background-color: #9bbe95;
}

.active:after {
  content: "";
  background-color: #ffcb70;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.Navigation a {
  color: rgb(10, 119, 0);
  font-size: 1.18rem;
  padding: 15% 32%;
  text-decoration: none;
  transition-delay: 100ms;
  transition-duration: 600ms;
}

.Navigation a:hover {
  background-color: lightgreen;
  font-weight: 500;
  transition-delay: 100ms;
  transition-duration: 800ms;
}