.Header {
  background-color: #ffffff;
  border-bottom: 1px solid #424242;
  color: #169016;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 4px 8px 24px #888888;
  text-align: center;
}
